@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F5F5F7] text-[#1D1D1F] antialiased;
  }
}

.glass-card {
  @apply bg-white/70 backdrop-blur-xl border border-white/40 shadow-glass rounded-2xl;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pdf-only-item {
  display: none !important;
}

.pdf-mode .pdf-only-item {
  display: flex !important;
}

.pdf-mode {
  padding: 40px !important;
  background-color: #F5F5F7 !important;
}
